In [1]:
food = "python's favorite food is perl"

In [6]:
print(food)

python's favorite food is perl

In [7]:
say = '"python is very easy"'

In [8]:
say

'"python is very easy"'

In [9]:
print(say)

"python is very easy"

In [16]:
talk = "\"python is very easy.\""

In [17]:
print(talk)

"python is very easy."

In [22]:
multiline = "life is short\nyou need python"

In [24]:
print(multiline)

life is short
you need python

In [34]:
"I eat {} apples".format(3)

'I eat 3 apples'

In [3]:
a = "hermione"
a.count('e')

2

In [4]:
",".join(['a','b','c','d'])

'a,b,c,d'

In [8]:
a = "hi"
a.upper()

'HI'

In [9]:
i = 'a#b#c#d'

'a#b#c#d'

In [17]:
you = i.replace('#', ':')

NameError: name 'i' is not defined

In [18]:
a = "a#b#c#d"

In [20]:
b = a.replace('#', ':')

In [21]:
b

'a:b:c:d'

In [29]:
b = a.split(':')

In [30]:
c = '#'.join(b)

In [31]:
b

['a#b#c#d']

In [32]:
c

'a#b#c#d'

In [1]:
lee = [1,2,3,4]

In [2]:
lee.append([5,6])

In [3]:
lee

[1, 2, 3, 4, [5, 6]]

In [4]:
jung = [4,1,2,4,5,6,7]

In [5]:
jung.sort()

In [6]:
jung

[1, 2, 4, 4, 5, 6, 7]

In [7]:
a = ['life', 'is', 'too', 'short', 'you', 'need', 'python']

In [15]:
a[4]+' '+a[2]

'you too'

In [16]:
b = a[0:5]
result = " ".join(b)
result

'life is too short you'

In [17]:
len(a)

7

In [22]:
b = [1,2,3,4,5]
b.remove(2)
b.remove(4)

In [23]:
s1 = set([1,2,3])

In [24]:
s1

{1, 2, 3}

In [25]:
s1 = set(['a','b','c'])

In [37]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [40]:
b = set(a)
list(b)

[1, 2, 3, 4, 5]

In [28]:
s1 = set(['a', 'b', 'c', 'd', 'e'])
s2 = set(['c', 'd', 'e', 'f', 'g'])

In [29]:
s2-s1

{'f', 'g'}

In [30]:
a = {}

In [31]:
set(a)

set()

In [32]:
type(a)

dict

In [42]:
money = 5000
card = False
if money >= 4000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [43]:
lucky_list = [1, 9, 23, 46]
a = 23
if a == 23:
    print("야호")

야호

In [44]:
if a % 2 == 1:
    print("홀수입니다.")
else:
    print("짝수입니다.")

홀수입니다.

In [56]:
a = {'나이':30, '키':180}
if '나이' < 30 or '키' >= 175:
    for b in a:
    print('yes')
else:
    print('no')

IndentationError: expected an indented block (<ipython-input-56-4361b361b1db>, line 4)

In [2]:
>>> a = "나이:30,키:180"
>>> temp = a.split(",")
>>> age = temp[0].split(":")[-1]
>>> height = temp[1].split(":")[-1]
>>> if age < str(30) and height >= str(175):  # 문자열을 숫자로 바꾸어 비교해야 한다.
...     print("YES")
... else:
...     print("NO")

NO

In [3]:
temp

['나이:30', '키:180']

In [4]:
age

'30'

In [3]:
prompt = """
1. add
2. quit
3. list
4. del

enter number: """

In [4]:
number = 0
while number != 4:
    print(prompt)
    number = int(input())

1. add
2. quit
3. list
4. del

enter number:
4

In [2]:
result = 0
a = 1
while a <= 1000:
    if a % 3 == 0:
        result += a
    a += 1
print(result)

166833

In [4]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = 0
for lee in A:
    lee += 1
print(lee)

26

In [3]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number += 1
    if mark >= 60:
        print("{}번학생은 합격입니다.".format(number))
    else:
        print("{}번학생은 불합격입니다.".format(number))

1번학생은 합격입니다.
2번학생은 불합격입니다.
3번학생은 합격입니다.
4번학생은 불합격입니다.
5번학생은 합격입니다.

In [10]:
a = [1,2,3,4]
result = []
for i in a:
    result.append(i*3)
print(result)

[3, 6, 9, 12]

In [55]:
str(a)

'aeiou'

In [12]:
result = [i*3 for i in a]
print(result)

[3, 6, 9, 12]

In [15]:
result = [x*y for x in range(2,10)
         for y in range(1,10)
         print(result, end=' ')]
print(' ')

SyntaxError: invalid syntax (<ipython-input-15-332b96f23bd6>, line 3)

In [144]:
for i in range(2,10): 
    for j in range(1, 10): 
        print(i*j)
print('')

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

In [20]:
for a in range(1, 101):
    print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [25]:
result = 0
for a in range(1001):
      if a % 5 == 0:
        result += a
print(result)

100500

In [26]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
result = 0
for l in A:
    result += l
print(result/len(A))

79.0

In [28]:
blood_data = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']
result = {}
for blood_type in blood_data:
    if blood_type in result:
        result[blood_type] += 1
    else:
        result[blood_type] = 1
print(result)

{'A': 3, 'B': 3, 'O': 3, 'AB': 3}

In [30]:
result = [n*2 for n in numbers if n % 2 == 1]
print(result)

[2, 6, 10]

In [63]:
a = 'aeiou'
b = 'life is short, you need python'
''.join([i for i in b if i not in a])

'lf s shrt, y nd pythn'

In [64]:
','.join(result).replace(',','')

'lf s shrt y nd pythn'

In [ ]:
=

In [65]:
def sum_many(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

In [66]:
a = sum_many(1, 2, 3, 4, 5)

In [67]:
print(a)

15

In [72]:
def sum_choice(choice, *args):
    if choice == 'sum':
        result = 0
        for i in args:
            result += i
        return result
    elif choice == 'mul':
        result = 1
        for i in args:
            result *= i
        return result

In [74]:
b = sum_choice('mul', 1,2,3,4,5,6)
print(b)

720

In [81]:
a = sum_choice('sum', 1,2,3,4,5,6)
print(a)

21

In [ ]:
def say_myself(name, age, gender):

In [93]:
a = 1 
def vartest(a): 
    a = a +1 
    return a

a = vartest(a) 
print(a)

2

In [94]:
mylist = [lambda a, b:a+b, lambda a,b:a*b]

In [95]:
mylist

In [96]:
mylist[0]

In [97]:
mylist[0](3,5)

8

In [98]:
def odds(a):
    if a % 2 == 1:
        print("홀수입니다.")
    else:
        print("짝수입니다.")

In [99]:
odds(5)

홀수입니다.

In [104]:
def avrg(*numbers):
    result = 0
    for a in numbers:
        result += a
    return result/len(numbers)

In [105]:
avrg(1,2,3,4,5,6,7,8,9,20)

6.5

In [116]:
def mul(n):
    for a in range(1,10):
        print(n*a)

In [117]:
mul(3)

3
6
9
12
15
18
21
24
27

In [118]:
def fib(n):
    if n == 0: return 0
    if n == 1: return 1
    return fib(n-2) + fib(n-1)

In [128]:
fib(7)

13

In [129]:
def myfunc(numbers):
...     result = []
...     for number in numbers:
...         if number > 5:
...             result.append(number)
...     return result
... 
>>> myfunc([2,3,4,5,6,7,8])
[6, 7, 8]

[6, 7, 8]

In [131]:
a = lambda numbers:[number for number in numbers if number > 5]

In [134]:
a([1,2,3,4,56,6,7,8,9,90,0])

[56, 6, 7, 8, 9, 90]

In [135]:
y = input()

life is short you need python

In [136]:
y

'life is short you need python'

In [137]:
number = input("숫자를 입력하세요")

숫자를 입력하세요1

In [138]:
print(number)

1

In [143]:
for i in range(1,10):
    print(i, end=',')

123456789

In [155]:
import datetime

In [158]:
dt = datetime.datetime.now()

In [157]:
dt.weekday()

2

In [160]:
dt

datetime.datetime(2018, 12, 26, 23, 15, 5, 357621)

In [166]:
import datetime
def getdayname(a,b,c):
    daystring = ["SUN","MON","TUE","WED","THU","FRI","SAT"]
    return daystring[datetime.datetime(a,b,c).weekday()]

In [1]:
def getDayName(a,b):
    months = [31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    days = ['FRI', 'SAT', 'SUN', 'MON', 'TUE', 'WED', 'THU']
    return days[(sum(months[:a-1])+b-1)%7]
print(getDayName(1,3))

SUN

In [2]:
getDayName(1, 2)

'SAT'